
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 titel">{{form.town}}</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">Skiarea: {{form.skiarea}}</div>
      <div class="col">Snowheight: {{form.snowheight}}cm</div>
      <div class="w-100"></div>
      <div class="col">Foto</div>
      <div class="col">Size Skiarea: {{form.sizeskiarea}}</div>
    </div>
  </div>





  


  
<!-- {{forms |json}} -->